fred
Makefile
Makefile.in
.deps
.*.swp
.libs
*.lo
*.la
*.o
config.*
bin/gegl
docs/api.html
docs/class-hierarchy.html
docs/gallery/OpenRaster-00.txt
docs/gallery/OpenRaster-01.txt
docs/gallery/OpenRaster-04.txt
docs/gallery/clones.txt
docs/gallery/images.stamp
docs/gallery/index.html
docs/images/inheritance.png
docs/index-static.txt
docs/operations.html
examples/2geglbuffer
examples/csugar
examples/float-lookup
examples/gegl-convert
examples/gegl-paint
examples/gegl-slicer
examples/geglbuffer-add-image
examples/geglbuffer-clock
examples/hello-world
examples/hello-world-video
examples/sharpen
gegl-uninstalled.pc
gegl.pc
gegl/gegl-version.h
libtool
stamp-h1
tests/buffer/buffer-tests.inc
tests/simple/test-change-processor-rect
tests/simple/test-color-op
tests/simple/test-gegl-rectangle
tests/simple/test-misc
tests/simple/test-path
tests/simple/test-proxynop-processing
tools/img_cmp
tools/introspect
tools/operation_reference

